.Fashion{
    margin-right: 30%;
    margin-left: 15%;
    margin-top: 3%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom: 38%;
    height: 350px;
}
a {
    text-decoration: none;
    color: inherit;
}

.listeTete{
    margin-left: 0%;
    display: flex;
    vertical-align: baseline;
    align-items: center;
    list-style-position: inside;
    
}

.tete{
    padding-top: 10px;
    display: flex;
    vertical-align: baseline;
}

.titreFashion {
    padding-left: 50px;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 280px;
}

.signUp{
    margin-left: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 80px ;
    border-radius: 5px;
}

.corpsFashion{
background-color: #F4F6F5;
margin-top: 5%;
margin-right: 6%;
margin-left: 5%;
border-radius: 10px;
height: 320px;
}


.listUnique{
    font-size: 35px;
    font-weight: bold;
    width: 50px;
    
}
.colorUnique{
background-color: orange;
width: 160px;
transform: rotate(-10deg);
}

.colorLet{
    background-color: white;
    width: 160px;
    transform: rotate(10deg);
}

.imageDeMort{
   width: 20px;
   height: 20px;
}

.shopNow{
    margin-left: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100px ;
    border-radius: 5px;
}

.innovationFashion{
    font-size: 15px;
    margin-left: 50px;
}

.imgFashion{
    display: flex;
position: absolute;
margin-left: 270px;
margin-top: px;
object-position: 50px, 50px;
width: 500px;
transform: rotate(180deg);

}

.listMarque{
    background-color:  #EBD96B;
   display: flex;
   justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.marque{
    width: 40px;
    height: 40px;
    padding-top: 15px;
    padding-left: 70px ;
    padding-bottom: 15px;
    margin-right: 40px;
}

.titreNewArrivals{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 80px;
}
.imgNewArrivalsUn{
    width: 200px;
    height: 350px;
    padding-top: 20px;
    border-radius: 10%;
    margin-left: 60px;
}


.imgNewArrivalsDeux{
    width: 200px;
    height: 350px;
    padding-top: 20px;
    padding-left: 0px;
    border-radius: 10%;
    margin-left: 140px;
}
.imgNewArrivalsTrois{
    width: 200px;
    height: 350px;
    padding-top: 20px;
    padding-left: 0px;
    border-radius: 10%;
    margin-left: 140px;
}

.alignementDesDiv{
    display: flex; 
  justify-content: space-between; 
}

.alignementTextNewArrivalsUn{
    display: flex; 
    flex-direction: column; 
    
    width: 200px;
    margin-left: 70px;
}
p{
    margin: 0%;
    padding: 0%;
}

.fleche{
    width: 20px; 
    height: auto; 
    margin-left: 160px;
}
.alignementTextNewArrivalsDeux{
    display: flex; 
    flex-direction: column; 
    
    width: 200px;
    margin-right: 10px;
}
.alignementTextNewArrivalsTrois{
    display: flex; 
    flex-direction: column; 
    
    width: 200px;
    margin-right: 90px;
}

.hoddies{
font-weight: bold;
}

.ExploreNow{
color: gray;
}
