@media (max-width: 768px) {
    body, p, div, h1, h2, h3 {
      font-size: 14px;
      padding: 15px;
    }
  }
.Fashion{
    margin-right: 30%;
    margin-left: 15%;
    margin-top: 3%;
    background-color: white;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    padding-bottom: 1%;
    
}
a {
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0%;
    padding: 0%;
}

.listeTete{
    margin-left: 0%;
    display: flex;
    vertical-align: baseline;
    align-items: center;
    list-style-position: inside;
    
}

.tete{
    padding-top: 2%;
    display: flex;
    vertical-align: baseline;
}

.titreFashion {
    padding-left: 5%;
    font-weight: 900;
    padding-left: 1%;
    padding-right: 10em;
}

.signUp{
    margin-left: 40%;
    background-color: black;
    color: white;
    padding: 10%;
    width: 180% ;
    border-radius: 2em;
}

.corpsFashion{
background-color: #F4F6F5;
margin-top: 5%;
margin-right: 6%;
margin-left: 5%;
border-radius: 2em;
height: 20em;
}


.listUnique{
    font-size: 200%;
    font-weight: bold;
}
.colorUnique{
background-color: orange;
width: 4em;
transform: rotate(-10deg);
}

.colorLet{
    background-color: white;
    width: 4em;
    transform: rotate(10deg);
}

.imageDeMort{
   width: 2em;
   
}

.shopNow{
    margin-left: 4em;
    background-color: black;
    color: white;
    padding: 0.5em;
    width: 8em ;
    border-radius: 1em;
}

.innovationFashion{
    font-size: 15px;
    margin-left: 3.5em;
}

.imgFashion{
    display: flex;
position: absolute;
margin-left: 20em;
width: 33em;
transform: rotate(180deg);

}

.listMarque{
    background-color:  #EBD96B;
   display: flex;
   justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.marque{
    width: 4em;
    height: 2em;
    padding-top: 2em;
    padding-left: 4em ;
    padding-bottom: 2em;
    margin-right: 2em;
}

.titreNewArrivals{
    font-size: 2em;
    font-weight: bolder;
    margin-left: 1.5em;
    padding-bottom: 1.5em;
}


.alignementDesDiv{
    display: flex; 
  
}

.alignementTextNewArrivalsUn{
    display: flex; 
    flex-direction: column; 
    padding-left: 4em;
}


.fleche{
    width: 2em; 
    height: auto; 
    margin-left: 14em;
}
.alignementTextNewArrivalsDeux{
    display: flex; 
    flex-direction: column; 
    padding-left: 4em;
}
.alignementTextNewArrivalsTrois{
    display: flex; 
    flex-direction: column;
    padding-left: 4em;
}

.hoddies{
font-weight: bold;
}

.ExploreNow{
color: gray;
}

.imgNewArrivals{
    height: 22em;
    width: 16em;
}

